# Spring Profile (dev | prod)
SPRING_PROFILES_ACTIVE=dev

# DB - name : gominitta_db
DB_URL=jdbc:mysql://localhost:3306/gominitta_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USER=root
DB_PASSWORD=1234
